{% extends 'base.html' %}
{% block title %}Статьи{% endblock %}
{% block menu %}
    <li class="nav-item"><a href="{% url 'article_create' %}" class="nav-link">Создать статью</a></li>
{% endblock %}
{% block content %}
    <div class="mt-3">
        <form action="{% url 'article_list' %}" method="GET">
            {{ form.article_name.label }}: {{ form.article_name }}
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
    </div>
    <div class="mt-3">
    {% for article in article_list %}
        <h4><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h4>
        <a href="{% url 'article_update' article.pk %}">Редактировать</a>
        <a href="{% url 'article_delete' article.pk %}">Удалить</a>
        <hr>
    {% endfor %}
    </div>
{% endblock %}