{% extends 'base.html' %}
{% block title %}Статья{% endblock %}
{% block menu %}
    <li class="nav-item"><a href="{% url 'comment_create' article.pk %}" class="nav-link">Создать коментарий</a></li>
{% endblock %}
{% block content %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <hr>
    <h3>Комментарии</h3>
    {% for comment in article.comments.all %}
        {{ comment.content }}
        <h5>Автор - {{ comment.user }}</h5>
        <a href="{% url 'comment_update' comment.pk %}">Редактировать комментарий</a>
        <hr>
    {% endfor %}
    <h3>Оценки</h3>
    {% for ratting in article.rattings.all %}
        <p>{{ ratting.get_mark_display }} - {{ ratting.user }}</p>

    {% endfor %}
{% endblock %}