{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block content %}
    <h1>{{ user.nickname }}</h1>
    <p>{{ user.name }} {{ user.surname }}</p>
    <hr>
    <h3>Статьи пользователя</h3>
    {% for article in user.articles.all %}
        <p><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></p>
        <hr>
    {% endfor %}
    <h3>Избранное пользователя</h3>
    {% for favorite in user.favorites.all %}
        <p><a href="{% url 'article_detail' favorite.pk %}">{{ favorite.title }}</a></p>
        <hr>
    {% endfor %}
{% endblock %}